body {
	margin:0;
	font-family:arial;
	display: flex;
	justify-content: center;
}
.body2 {
	background-color: #EEE;
}
.container {
	max-width: 1280px;
	width: 100%;	
	background-color:#EEE;
}
.form_login {
	background-color:#EEE;
	margin:auto;
	margin-top:100px;
	padding:30px;
	border-radius:10px;
	box-shadow:0 0 20px 1px rgb(165, 164, 164);
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.form_login input[type=email],
input[type=password] {
	border: 0px;
	width: 100%;
	height: 40px;
	border-bottom: 1px solid rgb(189, 187, 187);
	outline: none;
	background-color: #EEE;
	font-size: 16px;
}
.form_login input[type=submit] {
	width: 100%;
	border: 0;
	height: 30px;
	border-radius: 5px;
	color: white;
	background-color: #0b85d6;
	cursor: pointer;
}
.form_login input::placeholder {
	color: rgb(189, 187, 187);
	font-size: 14px;
}
.topo {
	height:40px;
	background-color:#0b85d6;
	color:#FFF;
	padding: 0px 50px;
}
.topo a {
	color:#FFF;
	text-decoration:none;
	float:right;
}
.topo a div {
	float:right;
	height:40px;
	line-height:40px;
	padding-right:42px;
	padding-left:20px;
}
.topo a div:hover {
	background-color:#3997d6;
}
.topousuario {
	float:right;
	margin-right:20px;
	height:40px;
	line-height:40px;
}

.cursos {
	height: 80vh;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.cursoitem {
	width:260px;
	float:left;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:20px;
	border:1px solid rgb(134, 134, 134);
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	text-align:center;
	cursor: pointer;
}
.cursoinfo {
	height:80px;
	background-color:#2F3136;
	color:#eee;
	padding-left: 46px;
}
.cursoinfo img {
	float:left;
	margin-right:64px;
	margin-top:10px;
	margin-left:20px;
	border:1px solid rgb(196, 194, 194);
}
.cursoinfo h3 {
	margin:0;
	padding-top:10px;
}
.curso_left a {
	color:#9C9C9C;
	text-decoration:none;
}
.curso_left {
	width:20%;
	height:100vh;
	float:left;
	background-color:#2F3136;
	overflow-y:scroll;
}
.curso_right {
	width:80%;
	height:100vh;
	float:left;
	background-size: cover;
	overflow-y:scroll;
}
.title {
	text-align:center;
	color: #333;
}
.modulo {
	height:30px;
	line-height:30px;
	padding-left:20px;
	background-color:#000;
	color:#eee;
}
.aula {
	height:30px;
	line-height:30px;
	padding-left:30px;
}
.aula:hover {
	background-color:#4F4F4F;
	color:#EEE;
}
.form_duvida textarea {
	width:100%;
	height:100px;
}
.form_duvida form {
	width:100%;
	margin-top:0px;
	height:170px;
}
h4 {
	background-color:#EEE;
}
.hide {
	width: 70px;
  height: 40px;
	background-color: #0b85d6;
	margin-top: -40px;
	margin-left: 50px;
	position: absolute;
}

.back {
	display: flex;
	float: left;
}
.back a {
	text-decoration: none;
}
.back a:hover {
	background-color: #3997d6;
}
.back img {
	height: 40px;
}